/* .complaint-box{
    height: 80vh;
    width: 50%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    margin-left: 430px;
    border-radius: 20px;
    margin-top: 70px;
} */

.complaint-box{
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin-left: 430px;
}

.complaint{
    background-color: rgb(43, 37, 37);
    color: azure;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-radius: 30px;
}

.complaint button{
    margin-left: -10px;
}

.complaint p{
    margin-left: 10px;
}

.complaint input{
    height: 25px;
    width: 400px;
    border-radius: 10px;
    border: none;
}   

.msg{
    width: 100px;
}

.complaint button{
    background-color: blue;
    color: white;
    border-radius: 10px;
}

